<?php include '../../pages/crm/sessiondestroy.php'; ?>
<div class="wrapper">
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <?= htmlspecialchars($admin["adminName"]) ?>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="home.html"><i class="bi bi-house"></i> Home</a></li>
                                <li><a class="dropdown-item" href="email.html"><i class="bi bi-envelope"></i> Email</a></li>
                                <li><a class="dropdown-item" href="workforce.html"><i class="bi bi-person-badge"></i> Workforce management</a></li>
                                <li><a class="dropdown-item" href="#"><img src="../../assets/images/beckloq.jpg" width="18" height="18"> Techloq</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="../../pages/logout.php"><i class="bi bi-box-arrow-left"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li>
                            <form class="d-flex mt-2 mb-2" role="search">
                                <div class="input-group">
                                    <input class="form-control border border-0 text-end pt-3 pb-3 rounded-0" style="width: 250px;" id="myInput" type="text" placeholder="Customer search">
                                    <button class="btn btn-link text-decoration-none text-dark bg-white border border-0 rounded-0" type="button" id="searchButton">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <a class="navbar-brand text-light" href="home.html"><span class="d-flex justify-content-end"> <img src="../../assets/images/mto.png" width="65" height="35"></span>
                        <h6 class="me-1">Mosdos Technology Office</h6>
                    </a>
                </div>
            </div>
        </nav>
    <?php include '../../pages/crm/customersearch.php'; ?>